<script id="course-page-template" type="text/x-handlebars-template">
  <div class="main container reserve">
    <h3>{{name}}</h3>
  
  
    <div class="days row">
      <a href="#">
      <div class="col-xs-2" data-day-chosen="monday">
        <h2>Monday</h2>
      </div></a> 
      
      <a href="#">
      <div class="col-xs-2" data-day-chosen="tuesday">
        <h2>Tuesday</h2>
      </div></a> 
      
      <a href="#">
      <div class="col-xs-2" data-day-chosen="wednesday">
        <h2>Wednesday</h2>
      </div></a> 
      
      <a href="#">
      <div class="col-xs-2" data-day-chosen="thursday">
        <h2>Thursday</h2>
      </div></a> 
      
      <a href="#">
      <div class="col-xs-2" data-day-chosen="friday">
        <h2>Friday</h2>
      </div></a> 
      
      <a href="#">
      <div class="col-xs-2" data-day-chosen="saturday">
        <h2>Saturday</h2>
      </div></a>
    </div>
    
    <div class="row times">
    
      <a href="#">
        <div class="col-xs-2" data-time-chosen="morning">
            <h2>Morning</h2>
            <ul>
              <li>{{name}}: {{from}}-{{to}}, Room: {{room}}</li>
            </ul>
        </div>
      </a>
  
      <a href="#">
        <div class="col-xs-2" data-time-chosen="afternoon">
            <h2>Afternoon</h2>
            <ul>
              <li>{{name}}: {{from}}-{{to}}, Room: {{room}}</li>
            </ul>
        </div>
      </a>
  
      <a href="#">
        <div class="col-xs-2" data-time-chosen="evening">
            <h2>Evening</h2>
            <ul>
              <li>{{name}}: {{from}}-{{to}}, Room: {{room}}</li>
            </ul>
        </div>
      </a>
      
    </div>

  </div>
</script>