<script id="course-page-template" type="text/x-handlebars-template">
  <div class="main container reserve">
    <h3>{{name}}</h3>


    <div class="days row">
      <a href="#">
      <div class="col-xs-2" data-day-chosen="monday">
        <h2>Monday</h2>
      </div></a> <a href="#">
      <div class="col-xs-2" data-day-chosen="tuesday">
        <h2>Tuesday</h2>
      </div></a> <a href="#">
      <div class="col-xs-2" data-day-chosen="wednesday">
        <h2>Wednesday</h2>
      </div></a> <a href="#">
      <div class="col-xs-2" data-day-chosen="thursday">
        <h2>Thursday</h2>
      </div></a> <a href="#">
      <div class="col-xs-2" data-day-chosen="friday">
        <h2>Friday</h2>
      </div></a> <a href="#">
      <div class="col-xs-2" data-day-chosen="saturday">
        <h2>Saturday</h2>
      </div></a>
    </div>


    <div class="row times">
      <ul id="navigation">
        <li class="col-xs-2" data-time-chosen="morning">
          <a href="#">
            <h2 class="pfix">Morning</h2>
          </a>

          <ul id="morning">
          
          </ul>
        </li>


        <li class="col-xs-2" data-time-chosen="afternoon">
          <a href="#">
            <h2 class="pfix">Afternoon</h2>
          </a>

          <ul id="afternoon">
          </ul>
        </li>


        <li class="col-xs-2" data-time-chosen="evening">
          <a href="#">
            <h2 class="pfix">Evening</h2>
          </a>

          <ul id="evening">
          </ul>
        </li>
      </ul>
    </div>


    <form id="send_email" name="send_email" class="pure-form">
      <input name="fullname" placeholder="Full Name" type="text" value="Daniel Rassiner"><br>
      <input name="subject" placeholder="Email Subject" type="text" value="Web Help"><br>

      <textarea cols="50" name="message" placeholder="Your Message Here" rows="10">I need Help with web design homework!
      </textarea>
     <br>
     <input formaction class="pure-button pure-input-1-2 pure-button-primary"="/email" formmethod="post" type="submit" value="Send Email">
    </form>
  </div>
</script>