<script id="course-page-template" type="text/x-handlebars-template">

  <div class="main container reserve">
    <h3>{{name}}</h3>

    <div class="days row">
      <a href="#">
        <div class="col-xs-2" data-day-chosen="monday">
          <h2>Monday</h2>
        </div>
      </a>
      <div class="col-xs-2" data-day-chosen="tuesday">Tuesday</div>
      <div class="col-xs-2" data-day-chosen="wednesday">Wednesday</div>
      <div class="col-xs-2" data-day-chosen="thursday">Thursday</div>
      <div class="col-xs-2" data-day-chosen="friday">Friday</div>
      <div class="col-xs-2" data-day-chosen="saturday">Saturday</div>
    </div>

    <div class="row times">
      <div class="col-xs-2">
        <div>Morning</div>
      </div>

      <div class="col-xs-2">
        <div>Afternoon</div>
      </div>

      <div class="col-xs-2">
        <div>Evening</div>
      </div>
      
    </div>
  </div>
</script>