<script id="splash-page" type="text/x-handlebars-template">
<div class="main container fluidsquares">
    <div class="majors1 row">
      <a href="#">
        <div class="design" data-course-name="design">
          <h1 id="effect">D</h1>
          <h2>Design</h2>
        </div>
      </a>
      <a href="#">
        <div class="interiordesign" data-course-name="interior_design">
          <h1 id="effect">I</h1>
          <h2>Interior Design</h2>
        </div>
      </a>
      <a href="#">
        <div class="graphicandweb" data-course-name="web_graphic">
          <h1 id="effect">G</h1>
          <h2>Graphic and Web</h2>
        </div>
      </a>
    </div>
    <div class="majors1 row">
      <a href="#">
        <div class="gamedesign" data-course-name="game_design">
          <h1 id="effect">G</h1>
          <h2>Game design</h2>
        </div>
      </a>
      <a href="#">
        <div class="animation" data-course-name="animation">
          <h1 id="effect">A</h1>
          <h2>Animation</h2>
        </div>
      </a>
      <a href="#">
        <div class="animation" data-course-name="animation">
          <h1 id="effect">A</h1>
          <h2>Animation</h2>
        </div>
      </a>
    </div>
    <div class="majors1 row">
      <a href="#">
        <div class="photography" data-course-name="photography">
          <h1 id="effect">P</h1>
          <h2>Photography</h2>
        </div>
      </a>
      <a href="#">
        <div class="audioandvideo" data-course-name="audio_and_video">
          <h1 id="effect">A</h1>
          <h2>Audio + Video</h2>
        </div>
      </a>
      <a href="#">
        <div class="mediaarts" data-course-name="media_arts">
          <h1 id="effect">M</h1>
          <h2>Media Arts</h2>
        </div>
      </a>
    </div>
    <div class="majors1 row">
      <a href="#">
        <div class="fashion" data-course-name="fashion">
          <h1 id="effect">F</h1>
          <h2>Fashion</h2>
        </div>
      </a>
      <a href="#">
        <div class="liberalarts" data-course-name="liberal_arts">
          <h1 id="effect">L</h1>
          <h2>Liberal Arts</h2>
        </div>
      </a>
      <a href="#">
        <div class="culinary" data-course-name="culinary">
          <h1 id="effect">C</h1>
          <h2>Culinary</h2>
        </div>
      </a>
    </div>
  </div><!-- end of container div -->
</script>