<script id="course-page-morning" type="text/x-handlebars-template">
    {{#each this}}
        <li>Name: {{name}} Time: {{start_time}}am-{{end_time}}pm, Room: {{room}}</li>
    {{/each}}
</script>

<script id="course-page-afternoon" type="text/x-handlebars-template">
    {{#each this}}
        <li>Name: {{name}} Time: {{start_time}}am-{{end_time}}pm, Room: {{room}}</li>
    {{/each}}
</script>

<script id="course-page-evening" type="text/x-handlebars-template">
    {{#each this}}
        <li>Name: {{name}} Time: {{start_time}}am-{{end_time}}pm, Room: {{room}}</li>
    {{/each}}
</script>