<script id="course-page-morning" type="text/x-handlebars-template">
    {{#each this}}
   
        <ul class="morning_list">
            <a href="#">
            <li>{{name}}</li>
            <li>{{start_time}}am - {{end_time}}pm</li>
            <li>Room: {{room}}</li>
            </a>
        </ul>
            
    {{/each}}
</script>

<script id="course-page-afternoon" type="text/x-handlebars-template">
    {{#each this}}
        <ul class="afternoon_list">
            <a href="#">
            <li>{{name}}</li>
            <li>{{start_time}}am - {{end_time}}pm</li>
            <li>Room: {{room}}</li>
            </a>
        </ul>
    {{/each}}
</script>

<script id="course-page-evening" type="text/x-handlebars-template">
    {{#each this}}
        <ul class="evening_list">
            <a href="#">
            <li>{{name}}</li>
            <li>{{start_time}}am - {{end_time}}pm</li>
            <li>Room: {{room}}</li>
            </a>
        </ul>
    {{/each}}
</script>